footer {
    color: white;
    display: flex;
    justify-content: space-between;
}

footer .links {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: start;
}

footer .links li {
    display: inline-block;

}

footer span {
    padding-right: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.social-media img {
    height: 30px;
    /* width: 30px; */
}