* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, rgb(67, 9, 93) 0%, rgb(158, 15, 156) 100%);
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

li a:hover {
    transition-duration: 300ms;
    transform: scale(1.2);
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    color: white;
}

.mainContainer {
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

button:hover {
    cursor: pointer;
}

button {
    margin: 10px;
}

.primary-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EA59A9;
    color: white;
    border-radius: 30px;
    border-style: none;
    padding: 10px 20px;
}

.primary-button:hover {
    background-color: #FF7EB9;
}

.rightContent {
    text-align: center;
}

.secondary-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #EA59A9;
    border-radius: 30px;
    border: 1px solid #EA59A9;
    padding: 10px 20px;

}

.secondary-button:hover {
    background-color: #EA59A9;
    color: white;
}

.whatsappButton {
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: #25d366;
    color: white;
    border-radius: 100px;
    border-style: none;
    border: 3px solid white;
    padding: 10px 10px;
}

.whatsappButton img {
    width: 60px;
    height: 60px;
}

.whatsappButton:hover {
    transition-duration: 200ms;
    /* background-color: #128c7e; */
    cursor: pointer;
    transform: scale(1.2);
}